@media only screen and (max-width: 375px){
    html{
        background-image: url(images/bg-mobile.svg);
    }
    article{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 20px;
    }
    article .parrafos{
        padding: 0;

    }
    article .parrafos h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    article .parrafos p{
        font-size: 16px;
        text-align: center;
    }
    article .parrafos button{
        display: block;
        margin: 20px auto;
        border: none;
        outline: none;
    }
    footer{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    footer .socialMedia i{
        padding: 0;
        margin: 0 10px;
    }

}
@media only screen and (max-width: 412px){
    html{
        background-image: url(images/bg-mobile.svg);
    }
    article{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 20px;
    }
    article .parrafos{
        padding: 0;

    }
    article .parrafos h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    article .parrafos p{
        font-size: 16px;
        text-align: center;
    }
    article .parrafos button{
        display: block;
        margin: 20px auto;
        border: none;
        outline: none;
    }
    footer{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    footer .socialMedia i{
        padding: 0;
        margin: 0 10px;
    }

}
@media only screen and (max-width: 414px){
    article{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0 20px;
    }
    article .parrafos{
        padding: 0;

    }
    article .parrafos h1{
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    article .parrafos p{
        font-size: 16px;
        text-align: center;
    }
    article .parrafos button{
        display: block;
        margin: 20px auto;
        border: none;
        outline: none;
    }
    footer{
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
    }
    footer .socialMedia i{
        margin: 0 10px;
        padding: 10px;
}
@media only screen and (max-width: 360px){
    footer .socialMedia i{
    margin: 0 10px;
    padding: 2px;
    }